In [88]:
!ls /Users/quartz/GoogleDrive/ewp/

01_01_boiler_7days_20190104.csv
01_01_boiler_7days_20190104.pkl
01_02_data_coal_7days_20190104.csv
01_data-7days_20190104.xlsx
02_sampledata_solar.csv
02_sampledata_solar.xlsx
02_sampledata_solar_02.xlsx
02_sampledata_solar_revise.xlsx
02_sampledata_weather.xlsx
02_sampledata_weather_hour.csv
02_sampledata_weather_minute.csv
02_sampledata_weather_minute.xlsx
03_01_7days_boiler condition_20190104.xlsx
03_02_7days_shootbrowing_20190104.xlsx
03_03_7days_coal_20190104.xlsx
data_solar_01.pkl
data_weather_hour_01.pkl
data_weather_minute_01.pkl
~$02_sampledata_weather.xlsx

In [181]:
file_solar = "/Users/quartz/GoogleDrive/ewp/02_sampledata_solar.xlsx"
file_weather = "/Users/quartz/GoogleDrive/ewp/02_sampledata_weather.xlsx"

# SETUP

In [7]:
import pandas as pd

---

### solar dataset 전처리

In [182]:
data_raw = pd.read_excel(file_solar, header=0)
data_raw.tail()

,1,2,3,4,5,6,7,8,9,10,...,73,74,75,76,77,78,79,80,81,82
03-06 22:45:00,0,0.0976597,-1.14883,0,1.86405,0,0,336.168,335.502,333.164,...,0,0,0,0,0,0,0,0,0,0
03-06 23:00:00,0,0.415459,-1.19787,0,1.89844,0,0,334.375,332.186,333.786,...,0,0,0,0,0,0,0,0,0,0
03-06 23:15:00,0,0.5,-1.30126,0,1.97502,0,0,334.817,333.619,331.076,...,0,0,0,0,0,0,0,0,0,0
03-06 23:30:00,0,0.436797,-1.37634,0,2.03704,0,0,334.834,333.632,331.393,...,0,0,0,0,0,0,0,0,0,0
03-06 23:45:00,0,0.349566,-1.35102,0,2.24216,0,0,334.656,332.998,332.503,...,0,0,0,0,0,0,0,0,0,0

### data description 데이터프레임 만들기

In [183]:
# data description

data_description = data_raw.iloc[:3, :]
data_description = data_description.T
data_description.columns = ['note', 'feature', 'measure']
data_description.head()

    note   feature measure
1     공통       일사량  [W/m2]
2     공통      외기온도     [℃]
3     공통      모듈온도     [℃]
4     공통  총 전력(AC)    [kW]
5  인버터 1      DC전압     [V]

### data_raw 전처리

In [184]:
# make new columns

new_columns = list(data_description.columns)
new_columns_add = list(data_raw.T.columns[3:])
new_columns.extend(new_columns_add)

data_raw = data_raw.T
data_raw.columns = new_columns

# make "feature_revise" with note, feature
data_raw.insert(0, 'feature_revise', data_raw.note + "_" + data_raw.feature)

# drop note, feature, measure
data_raw.drop(['note', 'feature', 'measure'], axis=1, inplace=True)

# transpose again
data_raw = data_raw.T

# change columns with first row
data_raw.columns = data_raw.iloc[:1, :].values[0]

# drop "feature revise" row
data_raw.drop('feature_revise', axis=0, inplace=True)
data_raw.tail()

,공통_일사량,공통_외기온도,공통_모듈온도,공통_총 전력(AC),인버터 1_DC전압,인버터 1_DC전류,인버터 1_DC전력,인버터 1_R상 전압,인버터 1_S상 전압,인버터 1_T상 전압,...,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류
03-06 22:45:00,0,0.0976597,-1.14883,0,1.86405,0,0,336.168,335.502,333.164,...,0,0,0,0,0,0,0,0,0,0
03-06 23:00:00,0,0.415459,-1.19787,0,1.89844,0,0,334.375,332.186,333.786,...,0,0,0,0,0,0,0,0,0,0
03-06 23:15:00,0,0.5,-1.30126,0,1.97502,0,0,334.817,333.619,331.076,...,0,0,0,0,0,0,0,0,0,0
03-06 23:30:00,0,0.436797,-1.37634,0,2.03704,0,0,334.834,333.632,331.393,...,0,0,0,0,0,0,0,0,0,0
03-06 23:45:00,0,0.349566,-1.35102,0,2.24216,0,0,334.656,332.998,332.503,...,0,0,0,0,0,0,0,0,0,0

In [185]:
data_raw.to_pickle('/Users/quartz/GoogleDrive/ewp/data_solar_01.pkl')

### 2

In [198]:
file_solar = '/Users/quartz/GoogleDrive/ewp/data_solar_01.pkl'
data_solar = pd.read_pickle(file_solar)
data_solar.reset_index(inplace=True)
data_solar = data_solar.rename(columns={'index':'일시'})

data_revise = data_solar.iloc[:, 1:].astype('float32')
data_revise.insert(0, '일시', data_solar['일시'].values)

# add year
data_revise = data_revise.rename(columns={'시간':'일시'})
data_revise['일시'] = data_revise['일시'].apply(lambda x : x.strip())
data_revise['연도'] = '2018-'
data_revise['일시'] = data_revise['연도'] + data_revise['일시']

# drop 연도
data_revise.drop('연도', axis=1, inplace=True)

# reset_index
data_revise.index = data_revise['일시']
data_revise.drop('일시', axis=1, inplace=True)
data_revise.tail()

,공통_일사량,공통_외기온도,공통_모듈온도,공통_총 전력(AC),인버터 1_DC전압,인버터 1_DC전류,인버터 1_DC전력,인버터 1_R상 전압,인버터 1_S상 전압,인버터 1_T상 전압,...,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류,인버터 2_전압,인버터 2_전류
일시,,,,,,,,,,,,,,,,,,,,,
2018-03-06 22:45:00,0.0,0.097660,-1.148832,0.0,1.864047,0.0,0.0,336.167694,335.501587,333.164154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-06 23:00:00,0.0,0.415459,-1.197866,0.0,1.898438,0.0,0.0,334.374817,332.185822,333.785797,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-06 23:15:00,0.0,0.500000,-1.301261,0.0,1.975021,0.0,0.0,334.816772,333.619110,331.076355,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-06 23:30:00,0.0,0.436797,-1.376343,0.0,2.037036,0.0,0.0,334.834351,333.632111,331.393463,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-06 23:45:00,0.0,0.349566,-1.351015,0.0,2.242163,0.0,0.0,334.655579,332.998169,332.502502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 전처리 - 인버터 별 전압, 전류 하나로 묶기

In [200]:
# 인버터 별 전압을 하나로 묶는 작업은 왜 필요한가? 인버터 1, 2의 전압, 전류의 상관관계가 거의 비슷. 다중공선성이 발생할 확률이 매우 높다.

print(data_revise['인버터 1_전압'].corr().mean().mean(), data_revise['인버터 1_전류'].corr().mean().mean(), data_revise['인버터 2_전압'].corr().mean().mean(), data_revise['인버터 2_전압'].corr().mean().mean())
print("\n")
print(data_revise.columns) # 시간 1, 공통 4, 인버터1 10+2, 인버터2 10+2

0.9990907125848812 0.9915882946256991 0.9993638885352684 0.9993638885352684


Index(['공통_일사량', '공통_외기온도', '공통_모듈온도', '공통_총 전력(AC)', '인버터 1_DC전압',
       '인버터 1_DC전류', '인버터 1_DC전력', '인버터 1_R상 전압', '인버터 1_S상 전압', '인버터 1_T상 전압',
       '인버터 1_R상 전류', '인버터 1_S상 전류', '인버터 1_T상 전류', '인버터 1_AC전력', '인버터 1_전압',
       '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압',
       '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압',
       '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압',
       '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압',
       '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압', '인버터 1_전류', '인버터 1_전압',
       '인버터 1_전류', '인버터 2_DC전압', '인버터 2_DC전류', '인버터 2_DC전력', '인버터 2_R상 전압',
       '인버터 2_S상 전압', '인버터 2_T상 전압', '인버터 2_R상 전류', '인버터 2_S상 전류',
       '인버터 2_T상 전류', '인버터 2_AC전력', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압',
       '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압',
       '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압',
       '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압',
       '인버터 2_전류', '인버터 2_전압', '인버터 2_전류', '인버터 2_전압', '인버터 2_전류'],
      dtype='object')

In [201]:
# 세로 축으로 평균값 구하기
data_revise['인버터 1_전압(종합)'] = data_revise['인버터 1_전압'].mean(axis=1)
data_revise['인버터 1_전류(종합)'] = data_revise['인버터 1_전류'].mean(axis=1)

data_revise['인버터 2_전압(종합)'] = data_revise['인버터 2_전압'].mean(axis=1)
data_revise['인버터 2_전류(종합)'] = data_revise['인버터 2_전류'].mean(axis=1)

# drop 인버터 1_전압, 전류 / 인버터 2_전압, 전류
data_revise.drop(['인버터 1_전압', '인버터 1_전류', '인버터 2_전압', '인버터 2_전류'], axis=1, inplace=True)
data_revise.tail()

,공통_일사량,공통_외기온도,공통_모듈온도,공통_총 전력(AC),인버터 1_DC전압,인버터 1_DC전류,인버터 1_DC전력,인버터 1_R상 전압,인버터 1_S상 전압,인버터 1_T상 전압,...,인버터 2_S상 전압,인버터 2_T상 전압,인버터 2_R상 전류,인버터 2_S상 전류,인버터 2_T상 전류,인버터 2_AC전력,인버터 1_전압(종합),인버터 1_전류(종합),인버터 2_전압(종합),인버터 2_전류(종합)
일시,,,,,,,,,,,,,,,,,,,,,
2018-03-06 22:45:00,0.0,0.097660,-1.148832,0.0,1.864047,0.0,0.0,336.167694,335.501587,333.164154,...,337.089661,334.233612,0.0,0.0,0.0,0.0,0.571005,0.0,0.0,0.0
2018-03-06 23:00:00,0.0,0.415459,-1.197866,0.0,1.898438,0.0,0.0,334.374817,332.185822,333.785797,...,335.673462,332.830109,0.0,0.0,0.0,0.0,0.575366,0.0,0.0,0.0
2018-03-06 23:15:00,0.0,0.500000,-1.301261,0.0,1.975021,0.0,0.0,334.816772,333.619110,331.076355,...,335.294403,332.397217,0.0,0.0,0.0,0.0,0.584560,0.0,0.0,0.0
2018-03-06 23:30:00,0.0,0.436797,-1.376343,0.0,2.037036,0.0,0.0,334.834351,333.632111,331.393463,...,335.204559,332.317261,0.0,0.0,0.0,0.0,0.609948,0.0,0.0,0.0
2018-03-06 23:45:00,0.0,0.349566,-1.351015,0.0,2.242163,0.0,0.0,334.655579,332.998169,332.502502,...,335.389648,332.589630,0.0,0.0,0.0,0.0,0.617531,0.0,0.0,0.0

In [202]:
data_revise.to_pickle('/Users/quartz/GoogleDrive/ewp/data_solar_03.pkl')

(576, 28)

### Weather dataset 전처리

In [78]:
data_raw_hour = pd.read_excel(file_weather, sheet_name='1시간 단위 Data')
data_raw_minute = pd.read_excel(file_weather, sheet_name='1분 단위 Data')

In [81]:
data_raw_hour.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,129,03-01 00:00:00,3.1,0.5,3.6,340,96,1001.3,NaN,NaN,NaN,NaN
1,129,03-01 01:00:00,2.8,NaN,0.7,140,97,1001.9,NaN,NaN,NaN,NaN
2,129,03-01 02:00:00,2.6,NaN,3.2,320,95,1002.6,NaN,NaN,NaN,NaN
3,129,03-01 03:00:00,2.0,NaN,1.9,230,97,1002.8,NaN,NaN,NaN,NaN
4,129,03-01 04:00:00,2.2,NaN,2.1,180,97,1003.0,NaN,NaN,NaN,NaN

In [82]:
data_raw_minute.head()

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,129,03-01 00:01:00,3.0,0.0,345.3,3.2,1001.4,1005.0,95.6,0.0,0
1,129,03-01 00:02:00,3.0,0.0,334.2,3.8,1001.4,1005.0,95.7,0.0,0
2,129,03-01 00:03:00,3.0,0.0,329.3,4.6,1001.3,1004.9,95.8,0.0,0
3,129,03-01 00:04:00,3.0,0.0,319.9,4.6,1001.4,1005.0,95.8,0.0,0
4,129,03-01 00:05:00,3.0,0.0,331.1,3.9,1001.4,1005.0,95.9,0.0,0

In [87]:
data_raw_hour.to_pickle('/Users/quartz/GoogleDrive/ewp/data_weather_hour_01.pkl')
data_raw_minute.to_pickle('/Users/quartz/GoogleDrive/ewp/data_weather_minute_01.pkl')

---

In [169]:
data_raw_minute = pd.read_pickle('/Users/quartz/GoogleDrive/ewp/data_weather_minute_01.pkl')

data_raw_minute['일시'] = data_raw_minute['일시'].apply(lambda x : x.strip())
data_raw_minute['연도'] = '2018-'
data_raw_minute['일시'] = data_raw_minute['연도'] + data_raw_minute['일시']

# drop 연도, 지점
data_raw_minute.drop(['연도', '지점'], axis=1, inplace=True)

# change dtypes
print(data_raw_minute.dtypes)
data_raw_minute['일시'] = pd.to_datetime(data_raw_minute['일시'], format='%Y-%m-%d %H:%M:%S', infer_datetime_format=True)
print(data_raw_minute.dtypes)

일시             object
기온(°C)        float64
누적강수량(mm)     float64
풍향(deg)       float64
풍속(m/s)       float64
현지기압(hPa)     float64
해면기압(hPa)     float64
습도(%)         float64
일사(MJ/m^2)    float64
일조(Sec)         int64
dtype: object
일시            datetime64[ns]
기온(°C)               float64
누적강수량(mm)            float64
풍향(deg)              float64
풍속(m/s)              float64
현지기압(hPa)            float64
해면기압(hPa)            float64
습도(%)                float64
일사(MJ/m^2)           float64
일조(Sec)                int64
dtype: object

In [205]:
data_raw_minute.index = data_raw_minute['일시']
data_raw_minute.drop('일시', axis=1, inplace=True)

# make new dataframe
data_weather = data_raw_minute.resample('15min').sum()

# make pkl file
data_weather.to_pickle('/Users/quartz/GoogleDrive/ewp/data_weather_02.pkl')

### 노트

- 발전량에 따른 셀(패널) 당 가중치를 부여
- 설비 요인(인자)를 일사량 -> 총 전력 간 노이즈를 예측하는 인자로 활용
    1. 날씨 데이터 -> 일사량
    2. 일사량, 설비 데이터 -> 총 전력

In [208]:
data_solar.iloc[:, 1:].corr()

Empty DataFrame
Columns: []
Index: []